@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind utilities;
@tailwind components;
@import "./swiper.css";

@layer utilities {
    .text-custom {
        font-size: clamp(40px, 8.5vw, 68px);
        line-height: clamp(40px, 8.5vw, 68px);
    }
    .text-custom2 {
        font-size: clamp(18px, 2.5vw, 30px);
        line-height: normal;
    }
    .wrapper {
        max-width: 1200px;
        width: 90%;
        margin: auto;
    }
    .h-custom {
        height: calc(700px - 5rem);
    }
    .phone1 {
        width: 100%;
        max-width: 400px;
        bottom: 0;
        right: max(-205px, -51%);
        left: auto;
    }
    .phone2 {
        width: 100%;
        max-width: 400px;
        bottom: 0;
        right: 0;
        left: auto;
    }
    .right-custom {
        right: min(calc(- ((100% - 1200px) / 2), -5%));
    }
    @media (min-width: 768px) {
        .phone1 {
            bottom: auto;
            top: 8rem;
        }
        .phone2 {
            bottom: auto;
            top: 8rem;
        }
    }
    @media (min-width: 1200px) {
        .phone1 {
            max-width: 500px;
            right: max(-254px, -51%);
        }
        .phone2 {
            max-width: 500px;
        }
    }
}

.swiper-slide {
    display: flex;
    align-items: center;
    height: 425px;
}
.swiper-slide .div {
    flex-grow: 1;
    flex-shrink: 0;
}
.swiper-slide-active {
    z-index: 100 !important;
}
.swiper-slide-next,
.swiper-slide-prev {
    z-index: 50 !important;
}
.swiper-slide-next-next,
.swiper-slide-prev-prev {
    z-index: 1 !important;
}
.swiper-slide-active .div {
    height: 425px;
    margin: 0;
    background: #a1d5e0;
}
@media (max-width: 768px) {
    .swiper-slide-active .div {
        height: 325px;
    }
}
.swiper-slide-active img {
    height: 300px;
}
.swiper-slide-next .div,
.swiper-slide-prev .div {
    height: 375px;
    background: #fee893;
}
@media (max-width: 768px) {
    .swiper-slide-next .div,
    .swiper-slide-prev .div {
        height: 275px;
    }
}
.swiper-slide-next img,
.swiper-slide-prev img {
    height: 260px;
}
.swiper-slide-next .div {
    transform: translateX(-25px);
}
.swiper-slide-next-next .div,
.swiper-slide-prev-prev .div {
    height: 325px;
    background: #ffd101;
}
@media (max-width: 768px) {
    .swiper-slide-next-next .div,
    .swiper-slide-prev-prev .div {
        height: 225px;
    }
}
.swiper-slide-next-next img,
.swiper-slide-prev-prev img {
    height: 220px;
}
@media (max-width: 768px) {
    .swiper-slide-next-next img,
    .swiper-slide-prev-prev img {
        height: 120px;
    }
    .swiper-slide-next img,
    .swiper-slide-prev img {
        max-height: 180px;
        aspect-ratio: 0;
        width: 100%;
        object-fit: cover;
    }
    .swiper-slide-active img {
        max-height: 220px;
        width: 100%;
        object-fit: cover;
    }
}
.swiper-slide-active,
.swiper-slide-next,
.swiper-slide-prev,
.swiper-slide-next-next,
.swiper-slide-prev-prev {
    opacity: 1 !important;
}
.swiper-slide {
    opacity: 0;
}
.w-sw {
    width: min(240px, 18vw);
}
