@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind utilities;
@tailwind components;
@import "./swiper.css";

@layer utilities {
    .text-custom {
        font-size: clamp(20px, 8.5vw, 68px);
        line-height: clamp(20px, 8.5vw, 68px);
    }
    .text-custom2 {
        font-size: clamp(15px, 2.5vw, 30px);
        line-height: normal;
    }
    .wrapper {
        max-width: 1200px;
        width: 90%;
        margin: auto;
    }
    .h-custom {
        height: calc(100vh - 5rem);
    }
}
